body {
    width: 70%;
    margin: 0;
    padding: 0;
    justify-content: center;
}
h1, h2, h3{
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: Arial, sans-serif;
}
h1 {
    font-size: 32px;
}
table, th, td {
     border: 1px solid black;
    }
    figcaption {
        font-style: italic;
    }

    figure {
        float: right;
    }